@model IEnumerable<BT.Services.Models.EmployeeTimeSheetModels.EmployeeTimeSheetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNightShift)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Date.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTime.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutTime.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNightShift)
            </td>
        </tr>
}
    </tbody>
</table>
